/* fade in/out */

.fade {
	opacity: 1;
	transition: opacity .3s ease-in;
}
.fade-in {
	opacity: .2;
	z-index: 1;
}


/* sizing */

.thumbnail {
	max-width: 150px;
	max-height: 150px;

	transition: all .3s ease-in;
}

.full {
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	max-width: 75%;
	max-height: 75%;
	z-index: 2;

	transition:
		max-width .7s cubic-bezier(.35,-0.33,.57,1.28),
		max-height .7s cubic-bezier(.35,-0.33,.57,1.28),
		top .5s cubic-bezier(.65,1.36,.94,1.09),
		bottom .5s cubic-bezier(.65,1.36,.94,1.09),
		left .5s cubic-bezier(.65,1.36,.94,1.09),
		right .5s cubic-bezier(.65,1.36,.94,1.09);
}
