body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  width: 100%;

  background: #333;
  color: #fafafa;
}

h1 {
  margin: 1rem;
  font-weight: bold;
  font-size: 7vw;
  text-align: center;
}
h1 > select {
  font: inherit;
  /* invert colours */
  background: #fafafa;
  color: #333;
  border: none;
}
h1 select,
h1 option {
  cursor: pointer;
}
