body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  width: 100%;

  background: #333;
  color: #fafafa;
}

h1 {
  margin: 1rem;
  font-weight: bold;
  font-size: 7vw;
  text-align: center;
}
h1 > select {
  font: inherit;
  /* invert colours */
  background: #fafafa;
  color: #333;
  border: none;
}
h1 select,
h1 option {
  cursor: pointer;
}


main {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}


img {
  max-width: 100%;
  max-height: 100%;
}


ul,
li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul {
  position: relative;
  width: 100%;
  height: 100%;
}
li {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  display: table-cell;
  vertical-align: middle;
}
button:hover,
button:focus {
  outline: 2px solid yellow;
}


figure {
  margin: 0;
  padding: 1%;
  background: #fff;
  vertical-align: center;
}
