body {
	margin: 0;
	padding: 0;

	overflow: hidden;
	width: 100%;

	background: #111;
	color: #fafafa;
}


main {
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
}


img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 5%;
}


ul,
li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul {
	position: relative;
	width: 100%;
	height: 100%;
}
li {
	position: absolute;
	/*background: rgba( 255, 255, 255, 0.3 );*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
button:hover,
button:focus {
	outline: 2px solid yellow;
}
