body {
	margin: 0;

	overflow: hidden;
	width: 100%;

	background: #333;
	color: #fafafa;
}

h1 {
	margin: 1rem;
	font-weight: bold;
	font-size: 7vw;
	text-align: center;
}
h1 > select {
	font: inherit;
	/* invert colours */
	background: #fafafa;
	color: #333;
	border: none;
}
h1 select,
h1 option {
	cursor: pointer;
}


main {
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}


img {
	max-width: 100%;
	max-height: 100%;
}


ul,
li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul {
	position: relative;
	width: 100%;
	height: 100%;
}
li {
	position: absolute;
	/*background: rgba( 255, 255, 255, 0.3 );*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	pointer-events: auto;
}
button:hover,
button:focus {
	outline: 2px solid yellow;
}


.picture > img {
	padding: 2% 2% 15%;
	background: #fff;
	box-shadow: 5% 5% 5% rgba( 0, 0, 0, 0.8 );
}


button#switch {
	position: fixed;
	width: auto;
	height: auto;
	bottom: 1em;
	left: 1em;
	padding: 1em;
	color: #fafafa;
	border: 1px solid #777;
}